<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        @font-face {
            font-family: 'Main';
            font-display: block;
            src: url('assets/fonts/press-start-2p-regulrar.woff2') format('woff2'),
                 url('assets/fonts/press-start-2p-regulrar.woff') format('woff'), 
                 url('assets/fonts/press-start-2p-regulrar.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        html, body {
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-family: Main, 'Courier New', Courier, monospace;
        }

        input, button {
            font-size: 16px;
            font-family: Main, 'Courier New', Courier, monospace;
        }

        button {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" src="polyfills.js"></script>
</head>

<body>
</body>

</html>